<!DOCTYPE html>
<html>
<title>Cluster Monitor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css.map">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href=".{{ url_for('static', filename='common.css') }}">

<script src=".{{ url_for('static', filename='tablesort.min.js') }}"></script>
<script src=".{{ url_for('static', filename='sorts/tablesort.dotsep.min.js') }}"></script>
<script src=".{{ url_for('static', filename='sorts/tablesort.number.min.js') }}"></script>

<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
	  <a class="navbar-item" href=".{{ url_for('index') }}">Home</a>
    <!-- navbar items, navbar burger... -->
  </div>
</nav>

<div class="container">
	<section class="hero is-info">
		<div class="hero-body">
			<div class="container">
			    <h1 class="title">Hi!</h1>
				<p>
				This is a reporting service for machines.
			</div>
		</div>
	</section>

	<section class="hero">
		<div class="hero-body">
			<div class="box">

				<table id="machine-table" class="table is-bordered is-fullwidth is-striped sort">
					<thead>
						<tr>
							<th data-sort-default>Hostname</th>
							<th data-sort-method='dotsep'>Local IP Address</th>
							<th data-sort-method='number'>CPU Cores</th>
							<th>GPU</th>
							<th data-sort-method='number'>Memory (GB)</th>
							<th>Poll Time</th>
							<th>More...</th>
						</tr>
					</thead>
					<tbody>
						{% for machineObj in machines %}
						{% if machineObj['_secs_since_beat'] > constants['ERROR_POLL_TIMEOUT'] %}
						<tr class="error-machine">
						{% else %}
						<tr class="okay-machine">
						{% endif %}
							<td>{{ machineObj['hostname'] }}</td>
							<td>{{ machineObj['ip_address'] }} </td>
							<td>{{ machineObj['machine']['cpu_cores'] }}</td>
							<td>{{ machineObj['machine']['max_gpu_name'] }}</td>
							<td>{{ (machineObj['machine']['total_memory'] / 2**10)|round }}</td>
							<td>{{ machineObj['_poll_time'] }}</td>
							<td>
								<a href=".{{ url_for('get_machine_info', hostname=machineObj['hostname']) }}"><span class="icon is-medium"><i class="fa fa-lg fa-info-circle"></i></span></a>
								<a href=".{{ url_for('diff_machine_info', hostname=machineObj['hostname']) }}"><span class="icon is-medium"><i class="fa fa-lg fa-plus-circle"></i></span></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</section>

</div>
<div class="container" id="wrapper"></div>

<script src="dist/bundle.js" type="text/javascript"></script>
<script>new Tablesort(document.getElementById('machine-table'));</script>
</body>

<footer class="footer is-small">
    Andrew Fiorillo ( andrewmfiorillo@gmail.com ) 2019
</footer>
</html>
